<div class='container'>
<h1>Oh my! You have so many babies to keep track of. God help you! </h1>
 
<h4 align="center" id='goHome'><b><%= link_to "Go Home", root_path %></b></h4>

<table class='table-striped'>
  <tr>
    <th>First Name / Last Name</th>
    <th>Action</th>
  </tr>
 
  <% @babies.each do |baby| %>
    <tr>
      <td><%= link_to "#{baby.first_name} #{baby.last_name}", baby_path(baby.id, metric: baby.metric) %></td>
      <td><%= link_to "Edit", edit_baby_path(baby.id) %></td>
    </tr>
  <% end %>
</table>
</div>