<div class='container animalContainer'>

<h1>Woo hoo, we are in a zoo!</h1>
 
<table>
  <tr>
    <th>Name</th>
  </tr>
 
  <% @animals.each do |animal| %>
    <tr>
      <td style = "color:black;"><%= link_to "#{animal.name}", animal_path(animal.id, metric: true) %></td>
    </tr>
  <% end %>
</table>
</div>